@font-face {
    font-family: 'ProximaNovaSbold';
    src: url('../fonts/ProximaNovaSbold.eot');
    src: url('../fonts/ProximaNovaSbold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaSbold.woff2') format('woff2'),
         url('../fonts/ProximaNovaSbold.woff') format('woff'),
         url('../fonts/ProximaNovaSbold.ttf') format('truetype'),
         url('../fonts/ProximaNovaSbold.svg#ProximaNovaSbold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBold.woff2') format('woff2'),
         url('../fonts/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNovaBold.ttf') format('truetype'),
         url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaThin';
    src: url('../fonts/ProximaNovaThin.eot');
    src: url('../fonts/ProximaNovaThin.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaThin.woff2') format('woff2'),
         url('../fonts/ProximaNovaThin.woff') format('woff'),
         url('../fonts/ProximaNovaThin.ttf') format('truetype'),
         url('../fonts/ProximaNovaThin.svg#ProximaNovaThin') format('svg');
}

@font-face {
    font-family: 'proxima_nova_regwebfont';
    src: url('../fonts/proxima_nova_regwebfont.eot');
    src: url('../fonts/proxima_nova_regwebfont.eot') format('embedded-opentype'),
         url('../fonts/proxima_nova_regwebfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_regwebfont.woff') format('woff'),
         url('../fonts/proxima_nova_regwebfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_regwebfont.svg#proxima_nova_regwebfont') format('svg');
}
